@font-face {
  font-family: 'Proxima Nova';
  src: url('../typography/ProximaNova-Regular.eot');
  src: url('../typography/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../typography/ProximaNova-Regular.woff2') format('woff2'),
  url('../typography/ProximaNova-Regular.woff') format('woff'),
  url('../typography/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('../typography/FuturaBookC.eot');
  src: url('../typography/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../typography/FuturaBookC.woff2') format('woff2'),
  url('../typography/FuturaBookC.woff') format('woff'),
  url('../typography/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('../typography/FuturaDemiC.eot');
  src: url('../typography/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('../typography/FuturaDemiC.woff2') format('woff2'),
  url('../typography/FuturaDemiC.woff') format('woff'),
  url('../typography/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('../typography/FuturaMediumC.eot');
  src: url('../typography/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
  url('../typography/FuturaMediumC.woff2') format('woff2'),
  url('../typography/FuturaMediumC.woff') format('woff'),
  url('../typography/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('../typography/YesevaOne.eot');
  src: url('../typography/YesevaOne.eot?#iefix') format('embedded-opentype'),
  url('../typography/YesevaOne.woff2') format('woff2'),
  url('../typography/YesevaOne.woff') format('woff'),
  url('../typography/YesevaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

